<div 
    class="jumbotron"
    style = "background: url(https://raw.githubusercontent.com/gmihov001/exercise-collaborative-html-website/master/website/assets/img/bg.jpg) no-repeat; background-size: cover; height: 1000px;position: relative;"
    
>
    <div class= "container-fluid"style="margin-top: 250px; width: 100%;position:absolute"> 
        <h1 class="display-1 fw-bold bg-secondary-subtle text-center mb-3"> 
        ONE PAGE WONDER    
        </h1>
        <h2 class="display-5 w-100 fw-bold bg-secondary-subtle text-center" >
            WILL KNOCK YOUR SOCKS OFF
        </h2>
    </div>
</div>